openapi: 3.1.0
info:
  title: Partner Watch API
  version: 0.1.0
  description: API contract under development. Undocumented routes are not public API.
servers:
  - url: https://partner-watch.kowerkoint.com
paths:
  /healthz:
    get:
      operationId: getHealth
      responses:
        "200":
          description: Server is accepting requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /v1/enrollments:
    post:
      operationId: enrollDevice
      description: One-time enrollment. Invalid requests deliberately return 404.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrollmentRequest"
      responses:
        "201":
          description: Device enrolled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnrollmentResponse"
        "400":
          description: Request JSON or field format is invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Enrollment endpoint or invitation was not found.
  /v1/images:
    post:
      operationId: uploadImage
      description: Uploads a JPEG for the other device in the pair. Images expire after one hour.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
              maxLength: 10485760
      responses:
        "201":
          description: Image stored temporarily.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadedImage"
        "400":
          description: The body is not a valid JPEG or exceeds the pixel limit.
        "401":
          description: Device credential is invalid.
        "413":
          description: Image exceeds 10 MiB.
        "415":
          description: Content-Type is not image/jpeg.
  /v1/images/{imageId}:
    get:
      operationId: downloadImage
      description: Returns an image once to the paired device and immediately removes it from the server.
      security:
        - bearerAuth: []
      parameters:
        - name: imageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: JPEG image. A successful claim consumes the image.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "401":
          description: Device credential is invalid.
        "404":
          description: Image does not exist, expired, was already retrieved, or belongs to another pair/device.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          const: ok
    EnrollmentRequest:
      type: object
      additionalProperties: false
      required: [invitationToken, deviceName, publicKey]
      properties:
        invitationToken:
          type: string
          minLength: 43
          maxLength: 128
        deviceName:
          type: string
          minLength: 1
          maxLength: 80
        publicKey:
          type: string
          description: Unpadded base64url-encoded X.509 SubjectPublicKeyInfo for a P-256 ECDSA key.
    EnrollmentResponse:
      type: object
      additionalProperties: false
      required: [deviceId, pairId, slot, credential]
      properties:
        deviceId:
          type: string
        pairId:
          type: string
        slot:
          type: integer
          minimum: 1
          maximum: 2
        credential:
          type: string
          description: Device credential returned once at enrollment.
    UploadedImage:
      type: object
      additionalProperties: false
      required: [imageId, createdAt, expiresAt]
      properties:
        imageId:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    Error:
      type: object
      additionalProperties: false
      required: [code]
      properties:
        code:
          type: string
